<h1> List of surveys</h1>
<%= link_to "New Survey", new_survey_path %>
<table>
  <th>Survey Name</th>
  <th>Options</th>
  <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td>
          <%= link_to "show", survey %>
          <%= link_to "edit", edit_survey_path(survey) %>
          <%= link_to "delete", survey, method: :delete, data: {confirm: "Are tou sure ?"} %>
        </td>
      </tr>
  <% end %>
</table>