<h1>Survey details </h1>
<p><b>Name : </b>
  <%= @survey.name %>
</p>
<p>
<ol>
  <% @survey.questions.each do |question| %>
      <li>
        <%= question.content %></li>
      <ul>
        <%  question.answers.each do |answer| %>
            <li><%= h answer.content %></li>
        <% end %>
      </ul>
  <% end %>
</ol>
</p>
<%= link_to "Edit", edit_survey_path %>
<%= link_to "back", surveys_path %>